/* index.css */

:root {
  --color-primary: #f60;         /* Naranja CeluTecn */
  --color-secondary: #0033cc;    /* Azul CeluTecn */
  --color-accent: #f00;          /* Rojo */
  --color-bg: #fdfdfd;           /* Fondo claro */
  --color-text: #333;            /* Texto principal */
  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: var(--font-main);
  color: var(--color-text);
}
